/vendor
/node_modules
/public/build
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/.phpunit.cache
/.idea
/.vscode
/.env
/.DS_Store
